html {
  font-size: 16px;
}

/* A basic CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1;
}

#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}



ol, ul {
  list-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

